src/META-INF/wsdl/fernandez - sanchez.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="realizarApuestaParticipante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idParticipante" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idMaquina" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idDetallePe" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarApuestaParticipanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="realizarApuestaParticipanteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarApuestaListParticipante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listParticipante" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idMaquina" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="realizarApuestaListParticipanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="realizarApuestaListParticipanteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idMaquina" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="realizarApuestaParticipanteSoapIn">
    <wsdl:part name="parameters" element="tns:realizarApuestaParticipante" />
  </wsdl:message>
  <wsdl:message name="realizarApuestaParticipanteSoapOut">
    <wsdl:part name="parameters" element="tns:realizarApuestaParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="realizarApuestaListParticipanteSoapIn">
    <wsdl:part name="parameters" element="tns:realizarApuestaListParticipante" />
  </wsdl:message>
  <wsdl:message name="realizarApuestaListParticipanteSoapOut">
    <wsdl:part name="parameters" element="tns:realizarApuestaListParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerTokenSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerToken" />
  </wsdl:message>
  <wsdl:message name="obtenerTokenSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="realizarApuestaParticipante">
      <wsdl:input message="tns:realizarApuestaParticipanteSoapIn" />
      <wsdl:output message="tns:realizarApuestaParticipanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="realizarApuestaListParticipante">
      <wsdl:input message="tns:realizarApuestaListParticipanteSoapIn" />
      <wsdl:output message="tns:realizarApuestaListParticipanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerToken">
      <wsdl:input message="tns:obtenerTokenSoapIn" />
      <wsdl:output message="tns:obtenerTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="realizarApuestaParticipante">
      <soap:operation soapAction="http://tempuri.org/realizarApuestaParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarApuestaListParticipante">
      <soap:operation soapAction="http://tempuri.org/realizarApuestaListParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerToken">
      <soap:operation soapAction="http://tempuri.org/obtenerToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="realizarApuestaParticipante">
      <soap12:operation soapAction="http://tempuri.org/realizarApuestaParticipante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarApuestaListParticipante">
      <soap12:operation soapAction="http://tempuri.org/realizarApuestaListParticipante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerToken">
      <soap12:operation soapAction="http://tempuri.org/obtenerToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:1155/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:1155/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>